html {
    box-sizing: inherit;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', serif;
    font-size: 16px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    .navigation-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .header-content {
        display: flex;
        height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: #999999;
        }
    }

    .navigation a {
        color: #232323;
        text-decoration: none;
        margin-right: 12px;
    }
    .navigation a:hover {
        text-decoration: underline;
    }
    .navigation a:last-child {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    header {
        .navigation-bar {
            flex-direction: column;
        }

        .header-content {
            height: 100%;
            padding: 20px 0;

            h1 {
                font-size: 25px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .section-info {
        border: 2px solid #000000;
        height: 360px;

        h2 {
            padding: 10px;
        }
    }

    .section-info.projects {
        h2,
        li {
            padding: 10px;
            border-bottom: 2px solid #000000;
            line-height: 1.6;
        }
        li:last-child {
            border-bottom: none;
        }
    }

    .section-info.work-experience {
        li {
            padding: 10px;
            border-bottom: 2px solid #000000;
            line-height: 1.6;
        }
        li:last-child {
            border-bottom: none;
        }
    }

    .section-info.education {
        p,
        ul {
            padding-left: 10px;
            line-height: 1.6;
        }
        .courses {
            margin-top: 10px;
            padding-bottom: 10px;
            h3 {
                font-weight: 600;
                padding-left: 10px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(1, 1fr);

        .section-info {
            height: auto;
            border: 2px solid #000000;
        }

        .section-info li {
            background-color: #c9c9c9;
        }

        .section-info.work-experience {
            border-bottom: none;
            border-top: none;

            li:first-child {
                border-top: 2px solid #000000;
            }
        }
    }

    .section-info.projects {
        li {
            background-color: #c9c9c9;
        }
    }
}

.reviews {
    padding-left: 10px;
    margin-top: 20px;
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 15px;
    }
    ul li {
        border: 2px solid #000000;
        border-radius: 40px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .reviews {
        ul {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 30px 0;
}
