html {
    font-size: 16px;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.5em;
    line-height: 1.1;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2.1875em;
        text-align: center;
    }
    body {
        width: 80%;
        margin: 0 auto;
    }
}
.container {
    padding: 40px;
    width: 28.125em;
    height: 12.5em;
    border: 2px solid #646cff;
    box-shadow: 0px 0px 16px #646cff44;
    border-radius: 0.625em;
    background-color: #242424;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 25px;
    border: 2px solid #55ca55;
    border-radius: 0.3125em;
    margin-bottom: 1.25em;
    position: relative;
    background-color: #242424;

    .progress {
        width: 10%;
        height: 100%;
        background-color: #29cf53;
        transition: all 0.3s ease-in-out;
    }

    .page-num {
        position: absolute;
        top: 5%;
        left: 88%;
        font-size: 0.875em;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 90%;
    }
    .progress-bar {
        .page-num {
            left: 84%;
        }
    }
}
.card {
    font-size: 20px;
    color: #fff;
    text-align: center;
}
@media (max-width: 768px) {
    .card {
        font-size: 18px;
    }
}

.control-btns {
    padding-top: 20px;
    .show-answer {
        margin: 0 10px;
    }

    button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 9.6px 19.2px;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s;
    }
    button:hover {
        border-color: #646cff;
    }
}
@media (max-width: 768px) {
    .control-btns {
        font-size: 14px;

        button {
            padding: 9.6px 12px;
        }
    }
}
